.boardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;

    .boardGrid{
        touch-action: manipulation;
        display: grid;
        height:400px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0.125rem;
        width: 100%;
        max-width: 430px;
        aspect-ratio: 1/1;
        padding: 0.25rem;
        background-color: #cbd5e1;
        padding: 0.25rem;
        border-radius: .75rem;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
    }
}