@import url('https://googleapis.com');

.casinoRed{
    color:#d32f2f;
}

.casinoBlack{
    color:#1a1a1a;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  color: #1e293b;
  background-color: #f8f9fa;
}

.app-title {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: .875rem;
}

.heading {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: .875rem;
}

.subheading {
  font-weight: 600;
  font-size: .812rem;
}

.text-primary {
  font-weight: 500;
  font-size: .75rem;
}

.text-secondary {
  font-weight: 400;
  font-size: 0.687rem;
}

.text-tertiary {
  font-weight: 400;
  font-size: 0.625rem;
}